/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --red: #e10600;
  --orange: #ffa500;
  --black: #111;
  --white: #fff;
  --gray: #666;
}

/* ================= HERO ================= */
.hero {
  position: relative;
  height: 90vh;
  background: url("../images/hero2.webp") center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.596);
}

/* ================= NAV ================= */
nav {
  position: sticky;
  top: 0;
  width: 100%;
   padding:0rem 2rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-image: linear-gradient(to right, orange 70%, red);
}

nav a {
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
}

nav a:hover {
  color: var(--orange);
}

.menu-btn {
  font-size: 1.5rem;
  color: white;
  display: none;
  cursor: pointer;
}

/* ================= SIDEBAR ================= */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(0 at 100% 0);
  transition: clip-path 0.7s ease;
  z-index: 999;
  padding: 40px;
  background-image: linear-gradient(to bottom right, orange 50%, red);
  color:white;
  display:flex;
  flex-direction:column;
  text-align:center;
  justify-content: center ;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.sidebar.open {
  clip-path: circle(150% at 100% 0);
}

.sidebar a {
  color:white;
  display: block;
  font-size: 1.5rem;
  margin: 1rem 0;
  text-decoration: none;
}

/* ================= HERO CONTENT ================= */
.hero-content {
  position: relative;
  z-index: 2;
  max-width: 700px;
  padding: 1rem;
}

.hero h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  color: var(--orange);
}

.hero p {
  margin: 1.2rem 0 2rem;
}

.hero-cta {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.cta-btn {
  padding: 0.9rem 2rem;
  border-radius: 25px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  background: var(--red);
  color: white;
  transition: 0.3s;
}

.cta-btn:hover {
  background: var(--orange);
}

.cta-btn.outline {
  background: transparent;
  border: 2px solid var(--red);
  color: var(--red);
}

.cta-btn.outline:hover {
  background: var(--red);
  color: white;
}

/* ================= FLOATING TYRES ================= */
.tyres-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;
}

.tyre {
  position: absolute;
  background: url("../images/images.png") center/cover no-repeat;
  opacity: 0.15;
  animation: spin linear infinite, float linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes float {
  50% {
    transform: translateY(-20px);
  }
}

/* ================= MAIN ================= */
section {
  margin-bottom: 2rem;
  padding: 4rem 1.2rem;
}

section h1 {
    color: var(--red);
    margin-bottom: 2rem;
}

/* ================= ABOUT ================= */

.about-wrapper {
  display: flex;
  gap: 2rem;
}

.about h1 {
  color: var(--red);
  margin-bottom: 2rem;
}
.about p {
  color: var(--gray);
  line-height: 1.8;
}

.about .body {
}

.about .body p {
    margin-bottom: 1rem;
}

.about img {
  border-radius: 12px;
  max-width:100%;
}

/* ================= PRODUCTS ================= */

.product-searchbar {
	position:sticky;
	top:100px;
	padding: 0.8rem;
	margin-bottom: 1rem;
	border-radius: 6px;
	border: 2px solid orange;
	z-index:1;
}

.products .cards {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  flex-wrap:wrap;
  gap: 1.5rem;
  margin-top: 1.5rem;
  justify-content:center;
}

.products .card {
  max-width:300px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  text-align: center;
}

.products .card .card-footer {
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.products .card:hover {
  transform: translateY(-8px);
}

.products .card img {
  width: 100%;
}

.products .card .content {
  padding: 1rem;
}

.products .card .price {
  color: var(--red);
}

.products .card .order-btn {
	background:var(--red);
	font-weight:bold;
	padding:0.8rem 2rem;
	color: white;
	border:none;
	border-radius:25px;
}

/* ================= MODAL ================= */
.product-info-modal {
  position: fixed;
  inset: 0;
  top:0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 30;
}


.product-info-modal .modal {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  max-width: 100vw;
  height:100vh;
  text-align: cente;
  overflow: scroll;
}

.product-info-modal .modal .modal-img  {
	width:200px;
}

.product-info-modal .modal .modal-related-text{
	color: var(--orange);
}

.instruction-container {
	padding:0;
	margin:0;
}

.product-info-modal .modal li {
	color: var(--gray);
	margin-top:1rem;
}

.close-btn {
  cursor: pointer;
  color: var(--red);
  font-weight: bold;
}

.related {
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    overflow: scroll;
}

.related .related-img {
    max-width: 80px;
    height: auto;
    cursor: pointer;
}

.related .related-img:hover {
    border: solid var(--gray) 1px;
    border-radius: 5px;
}

/* ================= WHY US ================= */
.why-headline {
  margin-bottom: 2rem;
}

.why-img {
  width: 80px;
}

.why-grid {
  displa: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  displa: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background:;
}

.why-card {
  background: white;
  padding: 1rem;
  border-radius: 50px;
  /*clip-path: circle(50%);*/
  border: solid orange 10px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
  display: flex;
  flex-wrap: wra;
  align-items:center;
  gap: 10px;
  margin-bottom:1rem;
  max-width:500px;
}



.why-grid:first-child {
    width: 100%;
    background: #ffa500;
    display: none;
}


.why-card:hover {
  clip-path: circle(70%);
  transform: translateY(-8px);
}

.why-card .why-img {
	width:100px;
	height:100px;
}

.why-card h2 {
  color: var(--red);
}
.why-card p {
  font-size: 1.2rem;
  color: var(--gray);
}

/* ================= CONTACT ================= */
#contact {
    max-width: 500px;
}

.contact-wrapper {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.contact form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact input,
.contact textarea {
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 2px solid #ddd;
}

.contact button {
  background: var(--red);
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 6px;
  cursor: pointer;
}

.contact,
.about,
.why-card
footer {
  overflow: hidden;  
}

/* ================= FOOTER ================= */
footer {
  background: var(--black);
  color: white;
}

.footer-grid {
  display:flex;
  flex-wrap:wrap;
  padding: 3rem 2rem;
  gap: 2rem;
  text-align:center;
  justify-content: center;
}

footer a {
  color: #ccc;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

footer h4 {
	margin-bottom:1rem;
}

.socials i {
  margin-right: 0.7rem;
  font-size: 25px;
  color:orange;
}

.copywrite {
	background: red;
	text-align:center;
	padding:1rem;
}

/* ================= REVEAL ================= */
.reveal {
  opacity: 0.5;
  transform: translateY(40px);
  transition: 0.8s ease-in-out;
}

.reveal.show {
  opacity: 1;
  transform: none;
}

.reveal-chose-us-card {
  opacity: 0;
  transition: 0.8s ease;
  transform: scale(50%);
}

.reveal-chose-us-card.show-card {
  opacity: 1;
  transform: scale(100%);
}

/* ================= RESPONSIVE ================= */
@media (max-width: 1200px) {
	.about-wrapper {
		flex-direction: column;
	}
}

@media (max-width: 768px) {
 
  #contact {
    max-width: 100%;
  }

  .menu-btn {
    display: block;
  }
  .nav-links {
    display: none;
  }

  .about-wrapper {
    flex-direction: column;
  }
  
  .footer-grid {
  	flex-direction:column;
  }
}